extends layout

block content
	.jumbotron.jumbotron-fluid
		.container.m-t-2#jimbo
			blockquote.blockquote.lead#quote 
				
	.container.p-t-2.m-b-3
		.row
			.col-lg-4
				h3.m-b-2 #{sylList[0].title}
				img.m-b-1.img-fluid.hidden-xs-down(src="img/frege.jpg", alt = "Frege")
				p #{sylList[0].description}
			.col-lg-4
				h3.m-b-2 #{sylList[1].title}
				p #{sylList[1].description}
				h3.m-b-2 #{sylList[2].title}
				p #{sylList[2].description}
			.col-lg-4
				h3.m-b-2 What You'll Learn
				ul.list-group
					li.list-group-item
						strong Argument: 
						|From Premises to Conclusion
					li.list-group-item
						strong Evalution: 
						|Deductive Validity
					li.list-group-item
						strong Categorical Syllogisms: 
						|One to Many and Many to One
					li.list-group-item
						strong Symbolic Languages: 
						|Sentential and Predicate
					li.list-group-item
						strong Formal Semantics: 
						|Truth Tables and Models
					li.list-group-item
						strong Proofs: 
						|Natural Deduction
	.container.p-t-2.m-b-3
		h1.display-4.text-xs-center.m-y-3.text-muted#modules Modules
		.row
			for module in modules
				.col-lg-6.col-md-12
					.card.card-block
						h4.card-title #{module.title}
						p.card-text #{module.description}
block extrafooter		
	
