extends layout

block content
	.jumbotron.jumbotron-fluid
		.container.m-t-2#jimbo
			blockquote.blockquote.lead#quote 
				
	.container-fluid
		.row.m-y-3
			.col-lg-6.p-a-3.col-md-12.introBlock
				h3.m-b-2.display-4.text-xs-center.text-muted #{sylList[1].title}
				p.lead #{sylList[1].description}
			.col-lg-6.text-xs-center.hidden-md-down.introBlock
				img(src="../img/frege.jpg").blockimg
		.row.m-y-3
			.col-lg-6.text-xs-center.hidden-md-down.introBlock
				img(src="../img/frege2.png").blockimg
			.col-lg-6.p-a-3.col-md-12.introBlock
				h4.display-4.m-b-2.text-xs-center.m-y-2.text-muted #{sylList[0].title}
				p.lead.text-justify #{sylList[0].description}
		.row.m-y-3
			.col-lg-6.p-a-3.col-md-12.introBlock
				h4.display-4.m-b-2.text-xs-center.m-y-2.text-muted #{sylList[2].title}
				p.lead.text-justify #{sylList[2].description}
			.col-lg-6.p-a-3.col-md-12.introBlock.text-xs-center
				h4.display-4.m-b-2.m-y-2.text-muted #{sylList[3].title}
				p.lead.text-justify #{sylList[3].description}
				a(href="https://creativecommons.org/licenses/by-sa/4.0/")
					img(src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png").m-t-3

					

	.container.p-t-2.m-y-3
		h1.display-4.text-xs-center.m-y-3.text-muted#modules #{sylList[4].title}
		p.lead.m-y-3 #{sylList[4].description}
		.row
			for i in [0,1,2]
				.col-md-12.col-lg-4
					.card.moduleintro
						.card-block
							h4.card-title Module #{modules[i].moduleNo}
							h6.card-subtitle.text-muted #{modules[i].title}
						a(href="/"+ modules[i].moduleNo)
							.card-block.display-1.text-xs-center #{modules[i].symbol}
						.card-block.p-a-2
							p.card-text #{modules[i].description}
		.row
			.col-md-12.col-lg-4
				.card.moduleintro
					.card-block
						h4.card-title Module #{modules[3].moduleNo}
						h6.card-subtitle.text-muted #{modules[3].title}
					a(href="/3")
						.card-block.display-1.text-xs-center(style="background-color: #333; border-color: #333; color:white") #{modules[3].symbol}
					.card-block.p-a-2
						p.card-text #{modules[3].description}
			.col-md-12.col-lg-4
				.card.moduleintro
					.card-block
						blockquote.card-blockquote.p-a-2
							p.m-t-1.lead.text-muted.m-t-2#moduleIntroQuote
							footer.blockquote-footer.text-muted#moduleIntroAuthor
			.col-md-12.col-lg-4
				.card.moduleintro
					.card-block
						h4.card-title Module #{modules[4].moduleNo}
						h6.card-subtitle.text-muted #{modules[4].title}
					a(href="/#{4}")
						.card-block.display-1.text-xs-center #{modules[4].symbol}
					.card-block.p-a-2
						p.card-text #{modules[4].description}
		.row
			for i in [5,6,7]
				.col-md-12.col-lg-4
					.card.moduleintro
						.card-block
							h4.card-title Module #{modules[i].moduleNo}
							h6.card-subtitle.text-muted #{modules[i].title}
						a(href="/#{i}")
							.card-block.display-1.text-xs-center #{modules[i].symbol}
						.card-block.p-a-2
							p.card-text #{modules[i].description}
block extrafooter		
	script(src="javascripts/randomBG.js" type="text/javascript")
