extends layout


block content
	.container-fluid.p-x-0
		row
			.col-lg-2.col-md-12.p-l-0.p-r-0.collapse.in#sidebar
				h3.display-3.text-xs-center.text-muted#icon #{moduleNum}
				.list-group.panel
					- var i = 1
					for section in content
						if "section"+i == sectionNum
							- var securl = "menu" + i
							a(href = "#"+ securl data-toggle="collapse" aria-expanded="true" aria-controls=seurl).list-group-item.collapse
								- var title = i + " " +section["1"].sectionname
								span #{title}
							.collapse.in(id = securl)
								- var j = 1
								for sub in section
									- var stitle = i + "." + j + " " + sub.title
									- j = j+ 1
									a(href="/"+moduleNum + "/" +section["1"].sectionNum + "#"+sub.title data-parent="#menu"+section["1"].sectionId).list-group-item
										small.text-muted #{stitle}
						else if i != Object.keys(content).length
							a(href = "/"+ moduleNum +"/"+i aria-expanded="false").list-group-item.collapse
								- var title = i + " " +section["1"].sectionname
								span #{title}
						- i = i + 1
			main.col-lg-8.col-md-12
				.jumbotron.m-y-3
					h2.display-1.text-xs-center #{content[sectionNum]["1"].sectionname}
				for section in content[sectionNum]
					h3.display-3.m-y-3.text-xs-center(id = section.title) #{section.title}
					for x in section.content
						if x.type == "p"
							for pa in x.substance
								p.lead.text-justify.m-y-2 #{pa}
						if x.type == "list"
							ul.list-group
								for y in x.content
									li.list-group-item #{y}
						if x.type == "link"
							p.lead.text-justify.m-y-2 #{x.description}
							a.btn.btn-secondary.btn.lead.p-x-a(href = x.url role ="button") #{x.title} &rArr;
						if x.type == "listHead"
							ul.list-group
								for y in x.content
									li.list-group-item.lead #{y[0]}
										small.text-muted.m-x-1 #{y[1]}
						if x.type == "ex"
							- y = content.ex[x.id]
							if y.type == "check"
								.container-fluid
									.row
										- for (var i = 0;i<y.questions.length;i++)
											.col-md-12.col-lg-6
												.form-check
												label.form-check-label
													input.form-check-input(type="checkbox" id = y.id + "-"+i value = i)
													p #{y.questions[i][0]}
									button(id = "butt" + y.id type="button" value = moduleNum + "-"+ y.id + "-" + y.type).btn-primary.btn.btn-block.readingbutt Submit Answers


			.right.col-lg-2.hidden-md-down



block extrafooter
	script(type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML")
	script(src='../javascripts/lessonreading.js')
	link(rel="stylesheet", type="text/css", href="../css/lesson.css")
