extends layout
block extrahead
	script(type="text/x-mathjax-config").
		MathJax.Hub.Config({
		tex2jax: {
			inlineMath: [ ['$','$'], ['\\(','\\)'] ]
		}}
		);
	script(type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML")



block content
	- var plugin
	.container-fluid.p-x-0
		row
			.col-md-2.col-sm-12.p-l-0.p-r-0.collapse.in#sidebar
				h3.display-3.text-xs-center.text-muted#icon #{moduleNum}
				.list-group.panel
					- var i = 1
					for section in content
						if "section"+i == sectionNum
							- var securl = "menu" + i
							a(href = "#"+ securl data-toggle="collapse" aria-expanded="true" aria-controls=seurl).list-group-item.collapse.p-y-0
								- var title = i + " " +section["1"].sectionname
								span.hidden-md-down #{title}
								span.hidden-lg-up #{i}
							.collapse.in(id = securl)
								- var j = 1
								for sub in section
									- var stitle = i + "." + j + " " + sub.title
									- j = j+ 1
									a(href="/"+moduleNum + "/" +section["1"].sectionNum + "#"+sub.title data-parent="#menu"+section["1"].sectionId).list-group-item.p-y-0
										small.text-muted.hidden-md-down #{stitle}
										small.text-muted.hidden-lg-up #{i + "." + j}
						else if i != Object.keys(content).length
							a(href = "/"+ moduleNum +"/"+i aria-expanded="false").list-group-item.collapse.p-y-0
								- var title = i + " " +section["1"].sectionname
								span.hidden-md-down #{title}
								span.hidden-lg-up #{i}
						else if i == Object.keys(content).length
							a(href = "#ex" data-toggle="collapse" aria-expanded="true" aria-controls=seurl).list-group-item.collapse.p-y-0
								span.hidden-md-down #{i} Module Exercises
								span.hidden-lg-up Ex
							.collapse.in(id = "ex")
								for sub in section
									if sub.section == "concepts"
										- var url = "/" + moduleNum + "/concepts"
									else if sub.section == "quiz"
										- var url = "/" + moduleNum + "/quiz"
									else
										- var url = "/"+moduleNum + "/" +sub.section + "#"+sub.title
									a(href=url).list-group-item.p-y-0
										small.text-muted.hidden-md-down #{sub.title}
										small.text-muted.hidden-lg-up #{sub.section[0]}
						- i = i + 1
			main.col-md-8.col-sm-12
				case sectionNum
					when "sectionconcepts"
						.jumbotron.m-y-3
							h2.display-3.text-xs-center.m-t-3#conceptshead(value = moduleNum) Quiz: Concepts
							p.lead.text-xs-center Instruction: Drag the matching concept into the box containing the given definition. Complete this quiz by matching all concepts. You will have to resrart for any incorrect answer.
						.modal.fade.result
							.modal-dialog.modal-dialog
								.modal-content
									.modal-header
										h4.modal-title Result
									.modal-body
									.modal-footer
										a.btn.btn-secondary(role ="button")#restart Restart
						.card-group
							.card.text-xs-center
								for term in content.ex.concepts.terms
									.draggable.drag-drop.m-a-1.lead.def #{term[0]}
							.card#r.dropzone.text-xs-center
								h4#ans
					when "sectionquiz"
						case moduleNum
							when "7"
							when "6"
								.container.m-t-3.text-xs-center
									.jumbotron.m-y-3
										h2.display-3.text-xs-center.m-t-3#conceptshead(value = moduleNum) Quiz #{moduleNum}: Models
										p.lead.text-xs-center Instruction: Provide the correct truth values for propositions below - click the corresponding box to choose between T and F. You will have to resrart for any incorrect answer. Get a score of 15 to pass.
										p.display-4#score
										p#description
									button.btn.btn-primary.btn-block.m-y-2 Submit
									.table-responsive
										table.table.table-bordered.table-inverse#table
											thead
												- var s_arr = [0,1,2,3]
												- if (mouduleNum == "7") s_arr.push(4)
												- var ext_arr = [0]
												tr
													th.h2.text-xs-center UD:
													th(id = "ud0" colspan = ext_arr.length).h4.text-xs-center model. Domain of Discourse: #{i}
												tr
													td.h2.text-xs-center Extension(s):
													each i in ext_arr
														td(id = "ext"+i).lead.text-xs-center  exten. #{i}
											tbody
												each i in s_arr
													tr
														th(id = "statement"+i scope = "row").lead.text-xs-center  QL#{i}
														each j in  ext_arr
															- var ij = i+"-"+j
															td(id = ij).lead.tbutt.text-xs-center.display-4 ?

					default
						.jumbotron.m-y-3
							h2.display-2.text-xs-center #{content[sectionNum]["1"].sectionname}
						for section in content[sectionNum]
							h3.display-3.m-y-3.text-xs-center(id = section.title) #{section.title}
							for x in section.content
								if x.type == "p"
									for pa in x.substance
										p.lead.text-justify.m-y-2 #{pa}
								if x.type == "list"
									ul.list-group
										for y in x.content
											li.list-group-item #{y}
								if x.type == "link"
									p.lead.text-justify.m-y-2 #{x.description}
									a.btn.btn-secondary.btn.lead.p-x-a(href = x.url role ="button") #{x.title} &rArr;
								if x.type == "listHead"
									ul.list-group
										for y in x.content
											li.list-group-item.lead #{y[0]}
												small.text-muted.m-x-1 #{y[1]}
								if x.type == "ex"
									- y = content.ex[x.id]
									if y.type == "check"
										.container-fluid
											.row
												- for (var i = 0;i<y.questions.length;i++)
													.col-md-12.col-lg-6
														.form-check
														label.form-check-label
															input.form-check-input(type="checkbox" id = y.id + "-"+i value = i)
															p #{y.questions[i][0]}
											button(id = "butt" + y.id type="button" value = moduleNum + "-"+ y.id + "-" + y.type).btn-primary.btn.btn-block.readingbutt Submit Answers
									if y.type == "dragMatch"
										- plugin = "dragMatch"
										#dragMatch(value = x.id)
											.card#r.dropzone.text-xs-center
												h4#ans
											.card.text-xs-center
												for pair in content.ex[x.id].pairs
													.draggable.drag-drop.m-a-1.lead.def(value = content.ex[x.id].pairs.indexOf(pair)) #{pair[0]}
										.modal.fade.result
											.modal-dialog.modal-dialog
												.modal-content
													.modal-header
														h4.modal-title Result
													.modal-body
													.modal-footer
														a.btn.btn-secondary(role ="button")#restart Restart


			.right.col-lg-2.hidden-lg-down



block extrafooter

	if plugin == "dragMatch"
		script(src='../javascripts/dragmatch.js')
	if sectionNum == "sectionconcepts"
		script(src='../javascripts/lessonconcepts.js')
	if sectionNum == "sectionquiz"
		case moduleNum
			when "6"
			when "7"
				script(src='../javascripts/modelquiz.js')
	else
		script(src='../javascripts/lessonreading.js')
	link(rel="stylesheet", type="text/css", href="../css/lesson.css")
