extends pagelayout

block extrahead
	link(href="https://fonts.googleapis.com/css?family=Abril+Fatface|Titillium+Web:400" rel="stylesheet")

block content
	main.container.logiciseMain.p-a-0.m-a-0(id = logiciseID)
		.logiciseHeader.m-b-0.text-xs-center
			span.logiciseTitle.m-b-0 #{info.title}
			nav.navbar-light.navbar.navbar-full.p-x-3#logiciseNav.subNav
				ul.nav.navbar-nav
					li.nav-item.hidden-md-down
						span.top3 #{info.shortDescription}
					li.nav-item.pull-xs-right.miniNavComponent
						a.nav-link.p-y-0#tutorial(href = "#") Tutorial
					li.nav-item.pull-xs-right.miniNavComponent
						span.navbar-text Chance(s) : &nbsp;
						span#chance
					li.nav-item.pull-xs-right.miniNavComponent
						span.navbar-text Tier : &nbsp;
						if expdata != null
							span#difficulty(data = expdata.lvl) #{expdata.lvl}
						else
							span#difficulty Not Logged
					li.nav-item.pull-xs-right.miniNavComponent
						span.navbar-text Passing : &nbsp;
						span#passingscore
					li.nav-item.pull-xs-right.miniNavComponent
						a.nav-link.p-y-0#save(href = "#") Score : &nbsp;
						span#score 0
		.row.text-xs-center.m-a-0#bigContainer
			.row.col-lg-10#interaction
				.col-lg-2.col-md-0#information
				#control
					button(type = "button").btn.btn-greyish.m-y-3.btn-lg#confirm Confirm
					button(type = "button").btn.btn-greyish.m-y-3.btn-lg#butt2.invisible
					button(type = "button").btn.btn-greyish.m-y-3.btn-lg#butt3.invisible
				.col-lg-10.col-md-12#display
					if info.intro
						p.logiciseIntro #{info.intro}
			.col-lg-2#leaderboard
				h4.text-xs-center Leaderboard
				#board

	.modal.fade(tabindex="-1" role="dialog" aria-labelledby="messageLabel" aria-hidden="true")#messageModal
		.modal-dialog.modal-lg(role="document")
			.modal-content
				.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title#messageLabel Message
				if info.tutorial
					.modal-body
						for x in info.tutorial
							p.lead.m-a-1 #{x}
				else
					.modal-body


block extrafooter
	link(rel="stylesheet", type="text/css", href="../css/logicise.css")
	script(type="text/x-mathjax-config").
		MathJax.Hub.Config({
		tex2jax: {
			inlineMath: [ ['$','$'], ['\\(','\\)'] ]
			},
			"HTML-CSS": {
			linebreaks: { automatic: true, width: "container" }
			}
		}
		);
	script(type="text/javascript"  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML")
	script(src="https://d3js.org/d3.v4.min.js")
	script(src="https://d3js.org/d3-scale-chromatic.v1.min.js")
	script(src="../javascripts/mods/help.js")
	script(src="../javascripts/mods/timer.js")
	script(src="../javascripts/mods/logicisehelp.js")
	script(src="../javascripts/mods/notify.js")
	script(src="/javascripts/mods/underscore-min.js")
	if (logiciseID == "deductionQuiz1")
		script(src="../javascripts/deductionQuiz.js")
	else
		script(src="../javascripts/"+logiciseID+".js")
	script(src="../javascripts/logleader.js")
	link(rel="stylesheet", type="text/css", href="/css/leaderboard.css")
