doctype html(lang='en')
head
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
	meta(http-equiv='x-ua-compatible', content='ie=edge')
	title(id = file) Lokgic | #{title}
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css', integrity='sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY', crossorigin='anonymous')
	link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
	script(src="../javascripts/pdfobject.js")
	script(type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML")


body
	include navbar
	.container-fluid.m-t-3.p-t-1#flexstuff
		.row#mainrow
			.col-lg-6#left
				ul.nav.nav-tabs
					li.nav-item.display-4#wtf
						if (part == "reading")
							a.nav-link.active(data-toggle="tab", href="#reading", aria-controls="reading") Reading
						else 
							a.nav-link(data-toggle="tab", href="#reading", aria-controls="reading") Reading
					li.nav-item.display-4#wtf
						if (part == "concepts")
							a.nav-link.active(data-toggle="tab", href="#concepts", aria-controls="concepts") Concepts
						else 
							a.nav-link(data-toggle="tab", href="#concepts", aria-controls="concepts") Concepts
					li.nav-item.display-4#wtf
						if (part =="quiz")
							a.nav-link.active(data-toggle="tab", href="#quiz", aria-controls="quiz") Quiz
						else
							a.nav-link(data-toggle="tab", href="#quiz", aria-controls="quiz") Quiz
					li.nav-item.dropdown.display-4#wtf
						a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Files
							.dropdown-menu
								a.dropdown-item(href='pdf/text'+file +'.pdf') Text	
					li.nav-item.pull-lg-right.hidden-md-down.display-4
						a.nav-link(href="#", aria-controls="closepdf")#closepdf &rarr;											
				.tab-content
					if (part=="reading")
						.tab-pane.fade#reading.in.active(role="tabpanel")
							.card#readingcard
								h3.card-header#readingheader Reading
								.card-block#readingblock
							div#readingalertdiv
					else 
						.tab-pane.fade#reading(role="tabpanel")
							.card#readingcard
								h3.card-header#readingheader Reading
								.card-block#readingblock
							div#readingalertdiv

					if (part =="quiz")
						.tab-pane.fade.in.active#quiz(role="tabpanel")
							.card#quizcard
								h3.card-header#quizheader Quiz #{file}
								.card-block#quizblock
									.text-xs-center#progresscap Progress
									progress.progress(aria-describedby="progresscap")
									p.card-text#question
									div#answers.list-group
					else 
						.tab-pane.fade#quiz(role="tabpanel")
							.card#quizcard
								h3.card-header#quizheader Quiz #{file}
								.card-block#quizblock
									.text-xs-center#progresscap Progress
									progress.progress(aria-describedby="progresscap")
									p.card-text#question
									div#answers.list-group
								button.btn.button-primary.m-t-1#next(type="button") Continue
						div#quizalertdiv
					if (part =="concepts")
						.tab-pane.fade#concepts.in.active(role="tabpanel")
							.card#conceptscard
								h3.card-header#conceptsheader Concepts
								div#conceptsalertdiv
								.card-block#conceptsblock
							button.btn.btn-primary.btn-lg.btn-block.m-t-1.m-b-1#conceptssubmit(type="button") Submit for Grading 
					else
						.tab-pane.fade#concepts(role="tabpanel")
							.card#conceptscard
								h3.card-header#conceptsheader Concepts
								div#conceptsalertdiv
								.card-block#conceptsblock
							button.btn.btn-primary.btn-lg.btn-block.m-t-1.m-b-1#conceptssubmit(type="button") Submit for Grading
			.col-lg-6.hidden-md-down#right
					script PDFObject.embed('../pdf/text#{file}.pdf', '#right');


footer
	p.foot.text-xs-center By Lok C. Chan
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous")
	script(src ="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous")
	script(src='../javascripts/quiz.js')
	script(src='../javascripts/concepts.js')
	script(src='../javascripts/info.js')
	//- script(src='javascripts/tutorial.js')
	script(src="../javascripts/closePDFButton.js")
	script(src="../javascripts/pdfobject.js")
	link(rel="stylesheet", type="text/css", href="../css/module.css")
