extends layout

block content
	.jumbotron.jumbotron-fluid#randomjumbo
		.container.m-t-2
			blockquote.blockquote.lead 
				p.display-3  #{random}
				footer.blockquote-footer #{name} 
	.container.p-t-2.m-t-3
		.row
		h1.display-4.text-xs-center.m-y-3.text-muted#modules #{name}'s Course Progress 
		.text-xs-center#percent #{completed}%
		progress.progress.progress-striped.m-b-3#percentbar(value = completed, max = "100" aria-describedby="percent")
		.row
			for module in record
				.col-lg-3.col-md-12.m-b-2
					if (module.concepts&&module.reading&&module.test&&module.quiz)
						.card
							.card-header.text-xs-center.lead #{module.name}
							.card-block.text-xs-center.lead
								if (module.reading)  
									p.card-text Reading &#10003;
								else 
									p.card-text Reading &#10007;
								if (module.concepts)  
									p.card-text Concepts &#10003;
								else 
									p.card-text Concepts &#10007;
								if (module.quiz)  
									p.card-text Practice &#10003;
								else 
									p.card-text Practice &#10007;
								if (module.test)  
									p.card-text Test &#10003;
								else 
									p.card-text Test &#10007;
							.card-footer.card-success.text-xs-center.lead Completed!
					else if (module.concepts||module.reading||module.test||module.quiz)
						.card
							.card-header.text-xs-center.lead #{module.name}
							.card-block.text-xs-center.lead
								if (module.reading)  
									p.card-text Reading &#10003;
								else 
									p.card-text Reading #{module.readingCount}/3  &#10007;
								if (module.concepts)  
									p.card-text Concepts &#10003;
								else 
									p.card-text Concepts &#10007;
								if (module.quiz)  
									p.card-text Practice &#10003;
								else 
									p.card-text Practice &#10007;
								if (module.test)  
									p.card-text Test &#10003;
								else 
									p.card-text Test &#10007;
							.card-footer.card-info.text-xs-center.lead In Progress
					else
						.card 
							.card-header.text-xs-center.lead #{module.name}
							.card-block.text-xs-center.lead
								if (module.reading)  
									p.card-text Reading &#10003;
								else 
									p.card-text Reading #{module.readingCount}/3 &#10007;
								if (module.concepts)  
									p.card-text Concepts &#10003;
								else 
									p.card-text Concepts &#10007;
								if (module.quiz)  
									p.card-text Practice &#10003;
								else 
									p.card-text Practice &#10007;
								if (module.test)  
									p.card-text Test &#10003;
								else 
									p.card-text Test &#10007;
							.card-footer.card-warning.text-xs-center.lead Not Started